body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}
h1 {
    color: red;
    background-color: aquamarine;
}
p {
    color: blueviolet;
}
a {
    color: greenyellow;
}