body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

h1 {
    color: red;
}
p {
    color: blueviolet;
}
a {
    color: greenyellow;

nac ul {
    list-style-type: none; /* Quita viñetas */
    margin: 0;
    padding: 0;
    background-color: #333; /* Fondo oscuro */
    overflow: hidden; /* Evita desbordes */
}

nav li {
    float: left; /* Ítems en fila */
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Quita subrayado */
}

nav li a:hover {
    background-color: #111; /* Efecto hover */
}
}


